@font-face {
    font-family: one;
    src: url(./fonts/Manrope-VariableFont_wght.woff2);
}
@font-face {
    font-family: two;
    src: url(./fonts/NeueMachina-Light.woff2);
}
@font-face {
    font-family: three;
    src: url(./fonts/NeueMachina-Regular.woff2);
}
@font-face {
    font-family: four;
    src: url(./fonts/NeueMachina-Ultrabold.woff2);
}
* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}
html, body {
    width: 100%;
    height: 100%;
    font-size: 10px;
}
main {
    width: 100%;
    /* height: 100%; */
    background-color: #FFF8ED;
}
.section1 {
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    text-align: center;
    padding: 10rem 0;
    gap: 1rem;
}
.section1 h1 {
    font-family: 'one';
    font-size: 5rem;
    font-weight: 800;
}
.section1 h1 span {
    font-family: 'two';
    color: rgb(255, 255, 255);
    background-color: #000000;
    padding: 0.5rem 3rem;
    font-size: 4rem;
    border-radius: 50px;
}
.section1 p {
    font-size: 2rem;
    font-family: 'one';
    opacity: .7;
    width: 60%;
}
.section2 {
    width: 100%;
    /* height: 100vh; */
    /* background-color: green; */
    display: grid;
    grid-template-rows: 1fr 1fr;
    grid-template-columns: repeat(3, 1fr);
    gap: 2rem;
    grid-template-areas: "topone topone toptwo"
                         "botone bottwo bottwo"
    ;
    padding: 2rem 15rem;
}
.box {
    border-radius: 3rem;
    /* border: 2px solid red; */
    text-decoration: none;
    color: #ffffff;
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
    padding: 3rem;
    padding-top: 15rem;
    line-height: 0.9;
}
.box span {
    font-size: 7rem;
    font-family: 'two';
    font-weight: 500;
}
.box h3 {
    font-size: 4rem;
    font-family: 'one';
}
.box p {
    font-size: 1.5rem;
    font-family: 'one';
    opacity: 0.7;
    text-transform: capitalize;
}
.box1 {
    background-repeat: no-repeat;
    background-image: linear-gradient(transparent, transparent, transparent, black), url(./animated-images/images/some.jpeg);
    grid-area: topone;   
}
.box2 {
    background-repeat: no-repeat;
    background-color: #F2E8D8;
    background-image: linear-gradient(transparent, transparent, rgb(180, 226, 195));
    grid-area: toptwo;   
    color: black;
}
.box3 {
    background-repeat: no-repeat;
    background-color: #93a882;
    background-image: linear-gradient(transparent, transparent, rgb(226, 204, 180));
    grid-area: botone;
    color: #000000;
}
.box4 {
    background-repeat: no-repeat;
    background-image: linear-gradient(transparent, transparent, transparent, black), url(./animated-images/images/layoutbg.jpeg);
    background-size: cover;
    background-position: center;
    color: #fff;
    grid-area: bottwo;
}

@media (max-width: 600px) {
    .section2 {
        grid-template-rows: auto auto 1fr 1fr;
        grid-template-columns: 1fr;
        gap: 2rem;
        padding: 2rem 2rem;

        grid-template-areas: 
        "topone"
        "toptwo"
        "botone"
        "bottwo";
    }
    .section1 {
        padding: 5rem 0;
    }
    .section1 p {
        width: 90%;
    }
}