@font-face {
    font-family: one;
    src: url(./fonts/Manrope-VariableFont_wght.woff2);
}
@font-face {
    font-family: two;
    src: url(./fonts/NeueMachina-Light.woff2);
}
@font-face {
    font-family: three;
    src: url(./fonts/NeueMachina-Regular.woff2);
}
@font-face {
    font-family: four;
    src: url(./fonts/NeueMachina-Ultrabold.woff2);
}
* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}
html, body {
    width: 100%;
    height: 100%;
    font-size: 10px;
}
main {
    width: 100%;
    /* height: 100%; */
    background-color: #FFF8ED;
}
.section1 {
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    text-align: center;
    padding: 10rem 0;
    gap: 1rem;
}
.section1 h1 {
    font-family: 'one';
    font-size: 5rem;
    font-weight: 800;
}
.section1 h1 span {
    font-family: 'two';
    color: rgb(255, 255, 255);
    background-color: #000000;
    padding: 0.5rem 3rem;
    font-size: 4rem;
    border-radius: 50px;
}
.section1 p {
    font-size: 2rem;
    font-family: 'one';
    opacity: .7;
    width: 60%;
}
.section2 {
    width: 100%;
    /* height: 100vh; */
    /* background-color: green; */
    display: grid;
    grid-template-rows: 1fr 1fr;
    grid-template-columns: repeat(3, 1fr);
    gap: 2rem;
    grid-template-areas: "topone topone toptwo"
                         "botone bottwo bottwo"
                         "threeone threetwo threethree"
    ;
    padding: 2rem 15rem;
}

.colordiv {
    width: 30%;
    height: 30%;
    filter: blur(100px);
    border-radius: 50%;
    position: absolute;
    z-index: 0;
}
.color1 {
    background-color: rgb(255, 245, 135);
    top: 70%;
    left: 20%;
}
.color2 {
    background-color: rgba(0, 247, 255, 0.551);
    top: 70%;
    left: 40%;
}
.color3 {
    background-color: rgba(179, 0, 255, 0.582);
    top: 70%;
    left: 60%;
}
.box {
    border-radius: 3rem;
    /* border: 2px solid red; */
    text-decoration: none;
    color: #ffffff;
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
    padding: 3rem;
    padding-top: 15rem;
    line-height: 0.9;
}
.box span {
    font-size: 7rem;
    font-family: 'two';
    font-weight: 500;
}
.box h3 {
    font-size: 4rem;
    font-family: 'one';
}
.box p {
    font-size: 1.5rem;
    font-family: 'one';
    opacity: 0.7;
    text-transform: capitalize;
}
.box1 {
    background-repeat: no-repeat;
    background-image: linear-gradient(transparent, transparent, transparent, black), url(./animated-images/images/some.jpeg);
    grid-area: topone;   
}
.box2 {
    background-repeat: no-repeat;
    background-color: #F2E8D8;
    background-image: linear-gradient(transparent, transparent, rgb(180, 226, 195));
    grid-area: toptwo;   
    color: black;
}
.box3 {
    background-repeat: no-repeat;
    background-color: #93a882;
    background-image: linear-gradient(transparent, transparent, rgb(226, 204, 180));
    grid-area: botone;
    color: #000000;
}
.box4 {
    background-repeat: no-repeat;
    background-image: linear-gradient(transparent, transparent, transparent, black), url(./animated-images/images/layoutbg.jpeg);
    background-size: cover;
    background-position: center;
    color: #fff;
    grid-area: bottwo;
}
.box5 {
    background-repeat: no-repeat;
    background-image: linear-gradient(transparent, transparent, transparent, black), url(./animated-images/images/download2.jpeg);
    background-size: cover;
    background-position: center;
    color: #fff;
    grid-area: threeone;
}
.box6 {
    background-repeat: no-repeat;
    background-image: linear-gradient(transparent, transparent, transparent, black), url(./animated-images/images/download1.jpeg);
    background-size: cover;
    background-position: center;
    color: #fff;
    grid-area: threetwo;
}
.box7 {
    background-repeat: no-repeat;
    background-image: linear-gradient(transparent, transparent, transparent, black), url(./animated-images/images/Horse-and-BMW.jpeg);
    background-size: cover;
    background-position: center;
    color: #fff;
    grid-area: threethree;
}

.section3 {
    width: 100%;
    /* height: 100vh; */
    position: relative;
    /* background-color: #000000; */
    display: flex;
    flex-wrap: wrap;
    gap: 30px;
    padding: 10rem 20rem;
}
.card{
    width: min(350px, 100%);
    height:250px;
    background:linear-gradient(135deg,#000,#8a631a);
    border-radius:30px;
    border-bottom-right-radius: 90%;
    padding:30px;
    color:white;
    text-decoration: none;
    position:relative;
    z-index: 1;
}

.arrow{
    position:absolute;
    width:80px;
    height:80px;
    background:#3e0437;
    border-radius:50%;
    right:0px;
    bottom: 0px;
    box-shadow: 2px 2px 20px 5px #79fceaae;
}
.card .arrow h1 {
    height: 100%;
    font-size: 4rem;
    text-align: center;
    display: flex;
    align-items: center;
    justify-content: center;
    font-family: 'two';
    font-weight: 500;
}
.card h3 {
    font-size: 3rem;
    font-family: 'one';
}
.card p {
    font-size: 1.5rem;
    font-family: 'one';
    opacity: 0.7;
    text-transform: capitalize;
}
.card1 {
    background:linear-gradient(135deg,#000,#44775c)
}
.card2 {
    background:linear-gradient(135deg,#000,#775a44)
}
.card3 {
    background:linear-gradient(135deg,#000,#774459)
}
.card4 {
    background:linear-gradient(135deg,#000,#446f77)
}
.card5 {
    background:linear-gradient(135deg,#000,#774459)
}
.card6 {
    background:linear-gradient(135deg,#000,#446f77)
}
@media (max-width: 600px) {
    .section2 {
        /* grid-template-rows: auto auto 1fr 1fr; */
        grid-template-columns: 1fr;
        gap: 2rem;
        padding: 2rem 2rem;

        grid-template-areas: 
        "topone"
        "toptwo"
        "botone"
        "bottwo"
        "threeone"
        "threetwo"
        "threethree";
    }
    .section1 {
        padding: 5rem 0;
    }
    .section1 p {
        width: 90%;
    }
    .box1 {
        position: sticky;
        top: 20px;
        grid-area: topone;
    }
    .box2 {
        position: sticky;
        top: 50px;
        grid-area: toptwo;
    }
    .box3 {
        position: sticky;
        top: 80px;
        grid-area: botone;
    }
    .box4 {
        position: sticky;
        top: 110px;
        grid-area: bottwo;
    }
    .box5 {
        position: sticky;
        top: 140px;
        grid-area: threeone;
    }
    .box6 {
        position: sticky;
        top: 170px;
        grid-area: threetwo;
    }
    .box7 {
        position: sticky;
        top: 210px;
        grid-area: threethree;
    }
    .section3 {
        padding: 10px 20px;
        background-image: linear-gradient(to top,#181818 0%, #4c3d37 20%,#02a186ed 50%, #a13a02ed 100%);
    }
    .card {
        width: 350px;
    }
    .card1 {
        position: sticky;
        top: 20px;
    }
    .card2 {
        position: sticky;
        top: 80px;
    }
    .card3 {
        position: sticky;
        top: 140px;
    }
    .card4 {
        position: sticky;
        top: 200px;
    }
    .card5 {
        position: sticky;
        top: 260px;
    }
    .card6 {
        position: sticky;
        top: 320px;
    }
}