* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}
html, body {
    width: 100%;
    height: 100%;
}
main {
    width: 100%;
    height: 100%;
    display: flex;
}
aside {
    width: 5%;
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: space-between;
    flex-direction: column;
    border: 1.5px solid rgba(115, 115, 115, 0.368);
    padding: 20px 0;
}
aside i img {
    width: 50px;
}
.aside1 {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    gap: 40px;
}
.aside1,.aside2 i {
    font-size: 25px;
}
main section nav {
    width: 100%;
    height: 100px;
    background-color: gray;
}