* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}
html, body {
    width: 100%;
    height: 100%;
    background-color: rgb(0, 0, 0);
}
main {
    width: 100%;
    height: 100%;
    background-color: #000;
    display: flex;
    align-items: center;
    justify-content: center;
}
.images {
    width: 70%;
    height: 80vh;
    background-image: url(./images/download.jpeg);
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    border-radius: 20px;
    box-shadow: 0px 0px 10px 5px rebeccapurple;
    animation: cursol 10s linear infinite;
}
@keyframes cursol {
    0% {
        background-image: url("./images/download1.jpeg");
        box-shadow: 0px 0px 10px 5px green;
    }
    20% {
        background-image: url("./images/download2.jpeg");
        box-shadow: 0px 0px 10px 5px rgb(17, 100, 17);
    }
    40% {
        background-image: url("./images/download1.jpeg");
        box-shadow: 0px 0px 10px 5px rgb(150, 103, 0);
    }
    60% {
        background-image: url("./images/Horse-and-BMW.jpeg");
        box-shadow: 0px 0px 10px 5px rgb(7, 129, 173);
    }
    80% {
        background-image: url("./images/some.jpeg");
        box-shadow: 0px 0px 10px 5px rgb(158, 1, 71);
    }
    100% {
        background-image: url("./images/download.jpeg");
        box-shadow: 0px 0px 10px 5px rebeccapurple;
    }
}
